body {
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-section .container {
    flex-direction: row;
    align-items: start;
  }
}

.button, .submit-button, .subscribe-button, .hero-button {
  display: inline-block;
  align-items: center;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .submit-button:hover, .subscribe-button:hover, .hero-button:hover, .button:focus, .submit-button:focus, .subscribe-button:focus, .hero-button:focus {
  background-color: #188ce8;
}

.list-flex, .portfolio-options, .our-clients-list, .team-list, .works-list, .advantages-list {
  display: flex;
  margin: -15px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}

.mobile-menu-button,
.menu-close-button {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile-menu-button,
.menu-close-button {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-icon {
  fill: #000;
}
.mobile-menu-button:hover .menu-icon, .mobile-menu-button:focus .menu-icon {
  fill: #2196f3;
}

.menu-close-icon {
  fill: #000;
}
.menu-close-button:hover .menu-close-icon, .menu-close-button:focus .menu-close-icon {
  fill: #2196f3;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.nav-item-mobile:not(:last-child) {
  margin-bottom: 32px;
}

.nav-link-mobile.current-mobile {
  color: #2196f3;
}

.nav-link-mobile {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}
.nav-link-mobile:hover, .nav-link-mobile:focus {
  color: #2196f3;
}

.contacts-mobile {
  margin-bottom: 64px;
}

.contact-link-mobile-phone {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 32px;
}

.contact-link-mobile-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-social-list {
  max-width: 355px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-social-item {
  padding: 0 7px;
}

.mobile-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.nav-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 300px;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}
.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}
.current::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    line-height: 1.142;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.logo, .footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 85px;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo, .footer-logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 93px;
  }
}

.logo-part-one {
  color: #2196f3;
}

.footer-logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-part-two {
  color: #ffffff;
}

.hero {
  padding: 118px 0;
  max-width: 480px;
  max-height: 400px;
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile-1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile-2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    max-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet-1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero-desktop-1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero-desktop-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;
}

.advantages-section {
  background: #ffffff;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  margin: 15px;
  width: calc((100% - 15px * 2) / 1);
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 15px * 4) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 15px * 8) / 4);
  }
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .icon-background {
    width: 100%;
  }
}

.advantage {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .advantage {
    text-align: left;
  }
}

.advantage-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
    background: #ffffff;
    margin-bottom: 94px;
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.works-item {
  margin: 15px;
  position: relative;
  width: calc((100% - 15px * 6) / 3);
}

.works-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 81px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.team-section {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 15px * 4) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 15px * 8) / 4);
  }
}

.card-content {
  padding: 30px 90px 24px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .card-content {
    padding: 30px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card-content {
    padding: 30px 32px;
  }
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: #ffffff;
}

.team-pic {
  width: 100%;
}

.our-clients-section {
  background-color: #ffffff;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .our-clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients-list {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.our-client-item {
  margin: 15px;
  height: 90px;
  width: calc((100% - 15px * 4) / 2);
}
@media screen and (min-width: 768px) {
  .our-client-item {
    width: calc((100% - 15px * 6) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-client-item {
    width: calc((100% - 15px * 12) / 6);
  }
}

.our-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-client-link:hover, .our-client-link:focus {
  border-color: #2196f3;
}

.client-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-client-link:hover .client-logo, .our-client-link:focus .client-logo {
  fill: #2196f3;
}

.first-client {
  width: 44px;
  height: 49px;
}

.second-client {
  width: 40px;
  height: 52px;
}

.third-client {
  width: 41px;
  height: 43px;
}

.fourth-client {
  width: 80px;
  height: 42px;
}

.fifth-client {
  width: 59px;
  height: 47px;
}

.sixth-client {
  width: 88px;
  height: 45px;
}

.footer-section {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-nav-container {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav-container {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-navigation {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-navigation {
    margin-right: 70px;
    align-items: flex-start;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    align-items: flex-start;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.footer-phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-container {
  width: 206px;
}
@media screen and (min-width: 768px) {
  .footer-social-container {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-container {
    padding-top: 12px;
  }
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.email-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .email-container {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-container {
    padding-top: 12px;
    width: 570px;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    justify-content: start;
  }
}

.email-field {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.email-field::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-field:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.email-field::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .email-field {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }
}

.subscribe-button {
  display: inline-flex;
  padding: 10px 28px;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio-section {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-filters {
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filters {
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover, .filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-options {
  flex-wrap: wrap;
}

.option-item {
  margin: 15px;
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .option-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .option-item {
    width: 370px;
  }
}

.portfolio-card {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover, .portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .overlay {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    width: 370px;
  }
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 62px 24px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .card-text, .portfolio-card:focus .card-text {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .card-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card-text {
    padding: 62px 24px;
  }
}

.frame {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
  background-color: #ffffff;
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.card-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal-close-button {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
}

.close-icon {
  width: 11px;
  height: 11px;
}
.modal-close-button:hover .close-icon, .modal-close-button:focus .close-icon {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #757575;
}

.modal-form-title {
  display: block;
  margin-bottom: 4px;
}

.wrapper {
  display: block;
  position: relative;
}

.text-field {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-field:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-field:focus + .modal-icon {
  fill: #2196f3;
}

.feedback-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1200px) {
  .feedback-text {
    font-size: 12px;
    line-height: 1.167;
  }
}
.feedback-text:focus {
  outline: none;
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.feedback-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.feedback-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 9px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #757575;
}
.policy::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.checkbox:checked + .policy::before {
  background-image: url(../icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-color: #2196f3;
}
.checkbox:focus + .policy::before {
  border: 2px solid #2196f3;
}
@media screen and (min-width: 480px) {
  .policy {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  color: #2196f3;
  margin-left: 4px;
  font-size: inherit;
  line-height: inherit;
}

.submit-button {
  align-self: center;
  padding: 10px 55px;
}/*# sourceMappingURL=main.css.map */