.team-section {
  background: $background-light-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @extend .list-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 4) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px * 8) / 4);
  }
}

.card-content {
  padding: 30px 90px 24px;
  background: $primary-white-color;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    padding: 30px 74px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: $primary-text-coor;
}

.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: $secondary-text-color;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color $transition-time $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;

  .social-link:hover &,
  .social-link:focus & {
    fill: $primary-white-color;
  }
}

.team-pic {
  width: 100%;
}
